@using System.Timers
@using Apricot.Services
@inject IApricotService ApricotService
@inject IToastService ToastService

<div class="alert alert-primary mt-4" role="alert">
    <span class="oi oi-arrow-top mr-2" aria-hidden="true"></span>
    <strong>@Title</strong>

    <div>
        Do you like apricots?
        If you do, this website will help you learn a bit about these delicious fruits.
        @Data
    </div>
    @if (Apricots != null)
    {
        <ul>
            @foreach (var apricot in Apricots)
            {
                <li style="color:@apricot.Name.Replace(" Apricot", "")">@apricot.Name of family @apricot.Family</li>
            }
        </ul>
    }
    <div>@Latest</div>
    <button class="btn btn-info" @onclick="@(() => ToastService.ShowInfo("Some info"))">Info Toast</button>
</div>

@code {
    [Parameter]
    // ReSharper disable once MemberCanBePrivate.Global
    public string Title { get; set; }
    private IEnumerable<Data.Apricot> Apricots { get; set; }
    private DateTime Latest { get; set; }
    private Timer timer;
    private int data = 0;

    private int Data
    {
        get => data;
        set
        {
            data = value;
            StateHasChanged();
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;
        Apricots = await ApricotService.GetApricots();
        timer = new Timer(2000);
        timer.Elapsed += Elapsed;
        timer.Start();
        await base.OnAfterRenderAsync(firstRender);
    }

    private void Elapsed(object sender, ElapsedEventArgs e)
    {
        Data += 10;
        Latest = DateTime.Now;
    }
}
